#grid-container {
    position:absolute;
    width:100%;
    height:100%;
    display: grid;
    padding: 1px;
    grid-template-rows: 6% 91.5%;
    grid-template-columns: 12% 86.7%;
}

#navbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    height: 80%;

}

#left-sidebar {
    /* width: 120%; */
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    margin-top: 1px;
}

/* #left-sidebar-header {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
} */

.left-sidebar-header-text {
    margin-top: 30%;
    font-family: Consolas;
    font-weight: bold;
    font-size: 18px;
}

.left-sidebar-controls {
    text-align: right;
    margin-top: 23%;
}

#workspace {
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    display: flex;
    flex-direction: column;
    background-color: #40454e;
    margin-top: 1px;
    /* overflow-y: auto; */
    overflow-x: hidden;
}

#todo-list-items-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-item-card {
    height: 25%;
    display: flex;
    flex-direction: row;
}

.list-item-card2 {
    margin-left: 1%;
    height: 50px;
    display: flex;
    flex-direction: row;
    width: 97%;
    border-bottom: 1px solid white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.list-item-card2:hover {
    background-color: #4d5059;
}

.list-item-card1 {
    height: 5%;
    display: flex;
    flex-direction: row;
    margin: 1%;
}

.task-col {
    width:100%;
    height: 100%;
    font-family: Consolas;
    font-size: 19px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

#task-col-header:hover {
    background-color: #4d5059;
}

.due-date-col {
    width:100%;
    height: 100%;
    font-family: Consolas;
    font-size: 19px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

#date-col-header:hover {
    background-color: #4d5059;
}

.status-col {
    width:100%;
    height: 100%;
    font-family: Consolas;
    font-size: 19px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

#status-col-header:hover {
    background-color: #4d5059;
}

.task-col1 {
    width:100%;
    font-family: Consolas;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50%;
    
}

.due-date-col1 {
    width:100%;
    height: 50%;
    font-family: Consolas;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.status-col1 {
    width:100%;
    height: 50%;
    font-family: Consolas;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.status-col2 {
    width:100%;
    height: 100%;
    font-family: Consolas;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-controls-col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 20;
}

.list-item-control {
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10%;
}

.list-item-control:hover {
    background-color: #c3c4c7;
}

.list-item-control1 {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10%;
}

.list-item-control-removed {
    width: 100%;
    text-align: center;
    padding: 10px;
}



.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}
.modal-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #40454e;
    color: white;
    padding: 1rem 1.5rem;
    width: 31rem;
    height: 10rem;
    border-radius: 0.17rem;
}
.modal-title {
    font-family: 'Consolas';
    font-weight: bold;
    font-size: 19px;
    margin-top: 5%;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    margin-top: 4%;
    margin-right: 4%;
    padding: 1%;
    color: white;
}
.close-button:hover {
    background-color: darkgray;
}
.separator {
    margin-top: -13%;
}
.cancel-button {
    float: right;
    cursor: pointer;
    font-family: 'Consolas';
    font-size: 16px;
    margin-top: 7%;
    margin-right: 3%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5%;
}
.cancel-button:hover {
    background-color: darkgray;
}
.confirm-button {
    float: left;
    cursor: pointer;
    font-family: 'Consolas';
    font-size: 16px;
    margin-top: 7%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5%;
}
.confirm-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: all .2s ease-in-out;
}