:root {
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    --swatch-foundation:    #d9d6cc; /* USED FOR BODY BACKGROUND */
    --swatch-primary:       #40454e; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
    --swatch-complement:    #353a44; /* USED IN CONTRAST BACKGROUND FOR TOOLBARS */
    --swatch-contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
    --swatch-accent:        #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --swatch-text:          #e9edf0; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */ 
    --swatch-text-accent:   #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --font-primary:         'Consolas', sans-serif;
}

#grid-container {
    background-color: var(--swatch-foundation);
    font-family: var(--font-primary);
}

.grid-item {
    background-color: var(--swatch-primary);
}

.grid-item-navbar {
    background-color: var(--swatch-primary);
    
}

.grid-item-list {
    background-color: var(--swatch-complement);
    height: 92%;
    overflow-y: auto;
}

#navbar {
    box-shadow: 2px 3px 2px var(--swatch-primary); 
}

#left-sidebar {
    background-color: var(--swatch-complement);
    color: rgb(233,237,240);
    box-shadow: 2px 3px 2px var(--swatch-primary);
    display: grid;
    grid-template-rows: 7.5% 100%;
}

#workspace {
    background-color: var(--swatch-primary);
    color: rgb(233,237,240);
    box-shadow: 2px 3px 2px var(--swatch-primary);
}

#title-div {
    color: rgb(255,200,25);
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Consolas';
    margin-top: 3px;
    margin-left: 5px;
}

#left-sidebar-header {
    background-color: var(--swatch-complement);
    border-bottom: dotted;
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#todo-list-table-header {
    border-bottom: dotted;
}

.list-header-card {
    border-bottom: dotted;
}

.list-item-card {
    border-bottom: solid;
}

.todo_button {
    cursor:pointer;
    background-color: var(--swatch-primary);
}

.todo_button:hover {
    background-color: var(--swatch-contrast);
}

.todo_button_item {
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: Consolas;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor:pointer;
    background-color: var(--swatch-complement);
}

.todo_button_item:hover {
    background-color: var(--swatch-contrast);
}

#todo-list-header-card {
    border-bottom: dotted;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40% 70%;
}

#add-list-button {
    margin-top: 23%;
}